<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">ToDo List</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="!loggedFlag"><a routerLink="/login">Iniciar sesion</a></li>
        <li *ngIf="loggedFlag"><a routerLink="/user">Usuarios</a></li>
        <li *ngIf="loggedFlag"><a routerLink="">Tareas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="loggedFlag"><a (click)="onLogout()" style="cursor: pointer">Cerrar sesion</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <div class="starter-template">
    <router-outlet></router-outlet>
    <!--<h1>Bootstrap starter template</h1>-->
    <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
  </div>

</div><!-- /.container -->
